<html>
<head>
<title><%= @test_file.test_file_name%></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
  #download_table{
  text-align: center;
  }
  #download{
    position: absolute;
    top:5px;
    right: 20px;
  }
  table{
    border-collapse: collapse;
  }
  table td{
    border:1px solid black;
  }
</style>
</head>
<body>
  <div style="width:80%;margin-left:10%">
    <table class="table table-bordered" id="download_table">
      <tr>
        <td>编号</td>
        <td>内容</td>
        <td>正常/异常</td>
        <td>确认内容</td>
        <td>测试结果</td>
        <td>实施日</td>
        <td>实施者</td>
        <td>标记</td>
        <td>再实施日</td>
        <td>再实施者</td>
        <td>截图</td>
      </tr>
      <% @example.each_with_index do |example,index| %>
        <tr class="example_case_parent" style="<%="background:#ccc" if example.remark == 1%>">
          <td><%= index+1 %></td>
          <td>
            <% arr_array = example.content.split(",") %>
            <% str = nil %>
            <% arr_array.each do |item| %>
              <% @factor %>
              <% @factor = Factor.find_by_id((Divisor.find(item)).factor_id)%>
              <%= @factor.factor_name%>-><%= @arr[item]%>
              <br/>
            <% end %>
          </td>
          <td><%= example.status %></td>
          <td><%= example.affirm %></td>
          <td><%= example.result %></td>
          <td><%= example.implement_time %></td>
          <td><%= example.implement_people %></td>
          <td><%= example.remark %></td>
          <td><%= example.again_implement_time %></td>
          <td><%= example.again_implement_people %></td>
          <td><a href="screenshot/1.JPG" target="_blank" class="check_image"><span>查看</span></a></td>
        </tr>
      <% end %>
    </table>    
    </div> 
  </div>
</body>

</html>
