<% content_for :content_right do %>
<div id="project_index_top">
  <span class="project_index_top_span">所有作业列表</span>
</div>
<div id="project_index_content">
  <table class="table">
	  <% @project.each do |project| %>
      <tr>
      	<td><a href="/project/show/<%= project.id %>"><%= project.project_name %></a></td>
      	<td><%= link_to 'Show', "/project/show/#{project.id}" %></td>
      	<td><%= link_to 'Destroy', "/project/destroy/#{project.id}", :onclick => "return confirm('Are you sure?')" %></td>
        <td><%= link_to 'Download', "/project/download/#{project.id}"%></td>
      </tr>     
	  <% end %>
  </table>
  <div style="text-align: center;color: gray">
    <div class="digg_pagination">
        <div class="page_info" style="float:right;margin-right:50px;">
            <span>共找到<%= @project.total_entries %>条记录,共<%= @project.total_pages%>页</span><span style="margin-left:50px;"><%= will_paginate @project ,:container => false,:previous_label => '上一页', :next_label => '下一页' %></span>
        </div> 
        
    </div>  
  </div>
</div>
<!-- <button class="create_project"> 添加新的作业</button>
<div id="new_project_id", class="new_project">
  <div id="new_project_dialog"><label style="font-size:1.2em;">Create new Project </label></div>	
	<div id="project_form" style="margin-top:10px;">
		<%= form_for (@project_new), url: {action: "create"} do |f| %>
		  <div style="margin-left:10px;">	    
	      <label>项目名：</label><%= f.text_field :project_name %><br/>
	    </div>
      <div style="margin-left:10px;margin-top:10px;">     
        <label>编&nbsp;&nbsp;&nbsp;号：</label>
        <%= f.select :work_year, options_for_select(@work_year), :class=>"work_year_select" %>
        <%= f.select :identifer,options_for_select(@identifers), :id=>"get_identifer" %>
        <%= f.select :group_id,options_for_select(@group_items) %>
        <br/>
      </div> 
	    <div style="margin-top:10px;margin-left:10px;">
	      <label>详&nbsp;&nbsp;&nbsp;细：</label><%= f.text_field :description %><br/>

	    </div>
	    <div style="margin-top:10px;margin-left:75px;">
	      <%= f.submit '提交' %> &nbsp;&nbsp;&nbsp;&nbsp;<button type="reset">重置</button>&nbsp;&nbsp;&nbsp; <button class="cancel">取消</button>
	    </div> 
		<% end %>
  </div>
</div> -->
 <script>
//   $("document").ready(function(){
//   	$(".create_project").click(function(){
//   		$(".new_project").css("display","block");
//   	});
//   });
//   $(".cancel").click(function(){
//   	$(".new_project").css("display","none");
//   	return false;
//   })
//   $(".work_year_select").change(function(){
//     alert("ll")
    
//   })

// </script>

<% end %>