<%= form_for(@example), :url => { :action => "edit" } do |f| %>
  <table>
    <tr>
      <td>状态</td>
      <td><%= f.text_field :status %> </td>     
    </tr>
    <tr>
      <td>确认</td>
      <td><%= f.check_box :affirm %> </td>
    </tr>
    <tr>
      <td>结果</td>
      <td><%= f.check_box :result %></td>     
    </tr>
    <tr>
      <td>实施时间</td>
      <td><%= f.check_box :implement_time %></td>
    </tr>
    <tr>
      <td>实施者</td>
      <td><%= f.check_box :implement_people %></td>      
    </tr> 
    <tr>
      <td>再实施时间</td>
      <td><%= f.check_box :again_implement_time %></td>
    </tr>
    <tr>
      <td>再实施者</td>
      <td><%= f.check_box :again_implement_people %></td>      
    </tr>
    <tr>
      <td><%= f.submit "更新" , :class=>"btn"%></td>
    </tr>
   
  </table>
<% end %>