<!DOCTYPE html>
<html>
<head>
  <title>TestCenter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-2.0.3.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
