<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--link href="assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen"-->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= yield :css%>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= yield :content%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="assets/javascripts/jquery-2.0.3.min.js"></script -->
    <%= javascript_include_tag "jquery-2.0.3.min" %>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="assets/javascripts/bootstrap.min.js"></script-->
    <%= javascript_include_tag "bootstrap.min" %>
    <%= yield :js%>
  </body>
</html>